body {
  font-family: "Times New Roman", Times, serif;
  background-color: #550055;
  color: rgb(255,255,255);
  margin: rgb(125,125,125);
  padding: rgb(100,100,0);
}

h1 {
  color: rgb(255,0,0);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: rgb(0,0,255);
  font-family: "Lucida Console", "Courier New", monospace;
}

caption {
  border-style: solid;
  border-color: wheat;
}

tr {
  border-style: solid;
  border-color:green;
}

th {
  border-style: solid;
  border-color:black;
  color:white;
}

td {
  border-style: solid;
  border-color:red;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

legend {
  color:blue;
  font-family: "Times New Roman", Times, serif;
}

label {
  color:pink;
  font-family: "Times New Roman", Times, serif;
}

fieldset {
  color:maroon;
  font-family: "Times New Roman", Times, serif;
}

table {border-collapse:collapse;}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

